[Unit]
Description=Dynamique IP Daemon
After=network.target

[Service]
Type=simple
ExecStart=/opt/dynipd/dynipd
User=dynipd

[Install]
WantedBy=multi-user.target
